<config>
    <modules>
        <Inviqa_ComposerAutoloader>
            <version>0.1.0</version>
        </Inviqa_ComposerAutoloader>
    </modules>
    <global>
        <models>
            <inviqa_composer_autoload>
                <class>Inviqa_ComposerAutoloader_Model</class>
            </inviqa_composer_autoload>
        </models>
        <helpers>
            <inviqa_composer_autoload>
                <class>Inviqa_ComposerAutoloader_Helper</class>
            </inviqa_composer_autoload>
        </helpers>
        <events>
            <resource_get_tablename>
                <observers>
                    <magento_startup_observer>
                        <class>inviqa_composer_autoload/observer</class>
                        <method>includeAutoloader</method>
                    </magento_startup_observer>
                </observers>
            </resource_get_tablename>
        </events>
    </global>
    <default>
        <composer>
            <options>
                <composerautoloader_path><![CDATA[../vendor/autoload.php]]></composerautoloader_path>
            </options>
        </composer>
    </default>
</config>
