<?xml version="1.0"?>
<config>
    <sections>
        <composer translate="label" module="inviqa_composer_autoload">
            <tab>advanced</tab>
            <label>Composer</label>
            <frontend_type>text</frontend_type>
            <show_in_default>1</show_in_default>
            <groups>
                <options translate="label">
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <composerautoloader_path>
                            <label>Composer Autoloader Path</label>
                            <comment><![CDATA[Configure the path to Composer's autoloader.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </composerautoloader_path>
                    </fields>
                </options>
            </groups>
        </composer>
    </sections>
</config>
