<?xml version="1.0"?>
<config>
    <sections>
        <composer translate="label">
            <tab>advanced</tab>
            <label>Composer</label>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <composerautoloader translate="label">
                    <label>Composer Autoloader</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>1</sort_order>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <composerautoloader_path>
                            <label>Composer Autoloader Path</label>
                            <comment>Configure the path to composers autoloader</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </composerautoloader_path>
                    </fields>
                </composerautoloader>
            </groups>
        </composer>
    </sections>
</config>